html {
    background-color: black;
    color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-right: 0;
    margin-left: 0;
}

.logo {
    width: 50px;
    height: 50px;
    filter: invert(100%)
}

header {
    display: flex;
    justify-content: space-between;
}

.headerleft {
    display: flex;
    margin-left: 2%;
}

.headerleft-text {
    padding-left: 3%;
}

.headerleft-text h3{
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
}
.headerleft-text p {
    margin: 0px;
}

.headerright {
    display: flex;
    align-items: center;
    width: 50%;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

nav a {
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a:hover {
    color: black;
    background-color: white;
}

.banner {
    background: url("../images/Arlo-tague-piano-gradient.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

/*.banner-text {
    width: 50%;
    font-size: .75rem;
}*/

.banner h1 {
    margin-top: 7%;
    margin-left: 2%;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 2rem;
}



#about img {
    width: 100%;
}

#signature{
    filter: invert(100%);
}

#about p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 5%;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}